.contact-info {
  margin-top: -20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.fa-phone, .fa-envelope {
  padding-right: 10px;
  padding-left: 20px;
}

.contact-links i {
  padding-right: 5px;
}

.contact-links a {
  margin-right: 10px;
}

body.landing #header {
  position: sticky;
}

#divvyup, #arrow-investment {
  display: flex;
  flex-direction: row;

}
.divvyup-gif, .arrow-gif {
  width: 100%;
  height: 100%;
}

.divvyup-gif >img, .arrow-gif > img {
  width: 75rem;
}

.icon img {
  padding-top: 20px;
  width: 60%;
}
